# Pandas & Matplotlib Harder Exercises

This notebook contains 20 exercises (10 Pandas + 10 Matplotlib) using `employees.csv` dataset.

In [ ]:

# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Show plots inside the notebook
%matplotlib inline

# Load dataset
df = pd.read_csv('employees.csv')
df.head()

## Pandas Exercises

### Exercise 1: Load `employees.csv` into a DataFrame and display its shape.

In [ ]:
# TODO: Write your solution here

### Exercise 2: Show only the rows where `City` is 'Riyadh' and `Salary` > 6000.

In [ ]:
# TODO: Write your solution here

### Exercise 3: Find the average `Salary` for each `City`.

In [ ]:
# TODO: Write your solution here

### Exercise 4: Add a new column `Salary_USD` converting Salary assuming 1 SAR = 0.27 USD.

In [ ]:
# TODO: Write your solution here

### Exercise 5: Find the top 3 highest salaries and the corresponding names.

In [ ]:
# TODO: Write your solution here

### Exercise 6: Replace all cities named 'Mecca' with 'Makkah'.

In [ ]:
# TODO: Write your solution here

### Exercise 7: Count how many employees are older than 30 in each city.

In [ ]:
# TODO: Write your solution here

### Exercise 8: Create a pivot table with `City` as rows and average `Salary` as values.

In [ ]:
# TODO: Write your solution here

### Exercise 9: Sort employees by `Age` ascending, then by `Salary` descending.

In [ ]:
# TODO: Write your solution here

### Exercise 10: Export only the columns `Name` and `Salary` to a new CSV file named `salaries.csv`.

In [ ]:
# TODO: Write your solution here

## Matplotlib Exercises

### Exercise 1: Plot a line graph showing `Age` on X-axis and `Salary` on Y-axis from `employees.csv`.

In [ ]:
# TODO: Write your solution here

### Exercise 2: Create a bar chart of average salaries per city.

In [ ]:
# TODO: Write your solution here

### Exercise 3: Create a scatter plot of `Age` vs `Salary`, color points by `City`.

In [ ]:
# TODO: Write your solution here

### Exercise 4: Create a histogram of the `Salary` column with 5 bins.

In [ ]:
# TODO: Write your solution here

### Exercise 5: Add title 'Salary Distribution by City' and X/Y axis labels to a bar chart.

In [ ]:
# TODO: Write your solution here

### Exercise 6: Plot two lines: one for `Age` and another for `Salary` on the same chart.

In [ ]:
# TODO: Write your solution here

### Exercise 7: Create a pie chart showing the proportion of employees in each city.

In [ ]:
# TODO: Write your solution here

### Exercise 8: Customize a scatter plot: make points red and size = Age * 10.

In [ ]:
# TODO: Write your solution here

### Exercise 9: Create a stacked bar chart showing count of employees grouped by City and Age > 30 vs <= 30.

In [ ]:
# TODO: Write your solution here

### Exercise 10: Save a plot as `analysis.png`.

In [ ]:
# TODO: Write your solution here